*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: black;
    color:white;
    padding: 20px;
    }
li,h1,ul{
    display:inline;
}
ul{
    margin-left: 70%;
}
li{
    color:grey;
    cursor: pointer;
}
li:hover{
    color:white;

}
input{
    width:60%;
    padding:15px;
}
.searchbar{
    margin:50px;
    text-align: center;
}
.box{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    width: 200px;
}
.products{
    text-align: center;
}
.box:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
.about{
    text-align: center;
    margin-top:20px;
    padding:20px;
}
.contact{
    color: white;
    background-color: black;
    text-align: center;
    padding: 5px;

}

