*{
    margin: 0%;
    padding: 0%;
}

.one{
    color: white;
    text-align: center;
    background-color: black;
    padding-bottom: 5px;
}

ul,li{
    color: grey;
    display: inline;
}
.two{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    width: 200px;
    padding: 5px;

}
.box{
    text-align: center;
    margin-top: 20px;
    padding:20px
}
.p{
    color:white;
    background-color: black;
    display: inline;
    padding: 3px;
}
.three{
    color: white;
    background-color: black;
    text-align: center;
    display: block;
    padding: 30px;
}